django <5
requests
celery
django-celery-results
django-celery-beat

django-redis
djangorestframework
django-cors-headers
django-crispy-forms

django-npm

psycopg2-binary

git+https://github.com/dzhuang/pyrouter.git
